

# about ranger
ranger/bookmarks
ranger/history
nvim/autoload/plug.vim.ol
nvim/plugged/d
Code/Backups
Code/Cache
Code/CachedData
Code/CachedExtensions
Code/Code Cache
Code/Cookie
Code/Cookies-journa
Code/GPUCache
Code/Network Persistent Stat
Code/User/globalStorage
Code/User/workspaceStorage
Code/clp
Code/languagepacks.jso
Code/logs
Code/machinei
Code/rapid_render.jso
Code/storage.jso
coc/command
coc/extensions/node_modules
nvim/autoload/plug.vim.ol
nvim/plugged
ranger/__pycache__
ranger/plugins/__pycache__
rofi/rofi-themes
